# Compiled class file
#.gitignore
*.class
.classpath
*.project
*.iml
.factorypath
classpath-data.json
.myumldata
setEnvVars.bat

**/bin
**/bin/**

/.metadata
*/.metadata/*

.idea

/.settings
**/.settings
**/.settings/**

.factorypath
**/.factorypath
**/**/.factorypath

/.sts4-cache
**/.sts4-cache/**

# Log file
*.log
*.log.*

*/jdk/*


**/build
**/build/**

/**/node_modules/**
/**/dist/**
*/META-INF/MANIFEST.MF

**/target/*

/.gradle/
/.gradle/*
.vscode/settings.json

ldapauth-frontend/ldapauth-frontend-mgt/node_modules/
ldapauth-frontend/ldapauth-frontend-mgt/.angular
ldapauth-frontend/ldapauth-frontend-mgt/yarn.lock
ldapauth-frontend/ldapauth-frontend-mgt/dist

ldapauth-frontend/ldapauth-frontend-mgt/vite.config.js.**

**/out/*

/任务计划_V240709.xlsx
